.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.notification-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 19px; /* You can adjust the size */
  height: 19px; /* Make sure height and width are equal */
  border-radius: 50%; /* This makes it a perfect circle */
  position: absolute; /* Adjust position as needed */
  top: 0;
  right: 0;
  font-size: 12px; /* Adjust font size as needed */
  background-color: #ffc107; /* Bootstrap warning color, you can customize it */
}

.my-form-container {
  width: 50vw; /* Adjust the viewport width percentage as needed */
  max-width: 360px; /* Optionally, set a max-width */
}
